extends ../layout/index
block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur, felis in consectetur placerat, elit velit pulvinar risus, non dapibus metus magna quis augue. Nam sagittis finibus nunc, sed tempor lectus ultrices sit amet. Aenean auctor molestie arcu vitae accumsan. In sit amet risus tincidunt, porta augue vitae, tristique tortor. Morbi dignissim a elit eu ullamcorper. Donec mollis pretium lobortis. Vivamus sagittis orci vitae elementum tincidunt. Morbi libero leo, euismod vel pulvinar non, aliquet at purus. Quisque semper turpis a dolor dictum lacinia. Nam sed eros arcu. Maecenas iaculis nunc a enim feugiat eleifend. Sed hendrerit tellus at lacus mollis, vitae laoreet quam aliquam. Fusce dictum diam sit amet laoreet ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vitae mauris nisl. Suspendisse potenti.
                p Donec in est non leo vehicula scelerisque vel quis enim. Sed aliquet hendrerit nulla, a sollicitudin justo suscipit nec. Sed at elit libero. Donec tincidunt venenatis massa, non tristique velit rhoncus in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem velit, consectetur et posuere in, porttitor eu massa.
                pIn et faucibus ipsum, luctus bibendum neque. Quisque vitae efficitur sem. Aliquam consequat dapibus lacus eget egestas. Vestibulum egestas aliquam diam, eu commodo tellus lacinia vel. In facilisis metus eget nunc vehicula semper. Donec dictum, leo sed ullamcorper cursus, nibh turpis aliquam elit, at interdum augue erat id quam. Nam accumsan vel quam at dictum. Fusce quis aliquam ligula, id tristique lectus. Quisque ornare faucibus lorem a gravida. Quisque vitae elementum elit.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid ,b-4")
                    h2.mb-4 Seguridad
                    p Integer nunc lectus, euismod sit amet leo ac, sollicitudin consectetur mauris. In iaculis rhoncus nulla. Vivamus in molestie risus
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid ,b-4")
                    h2.mb-4 Mejores Destinos
                    p Integer nunc lectus, euismod sit amet leo ac, sollicitudin consectetur mauris. In iaculis rhoncus nulla. Vivamus in molestie risus
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid ,b-4")
                    h2.mb-4 Mejor Precio
                    p Integer nunc lectus, euismod sit amet leo ac, sollicitudin consectetur mauris. In iaculis rhoncus nulla. Vivamus in molestie risus